.header-container{
    border: 2px solid rgb(25, 25, 46);
    background-color: rgb(17, 17, 54);
    width: auto;
    height: 70px;
   color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
 }

 .logo img{
    max-width: 100%;
    border-radius: 3rem;

 }
 .logo{
    width: 90px;
    height: 90px;
   
 }
 .title {
    text-align: center;
    flex-grow: 1;
    margin-left: -180px;
 } 
 .title h1{
    font-size: xx-large;
 }
 .title h4{
    margin-top:-20px ;
 }
.nav-bar{
    width: auto;
    height: 60px;
    border-bottom: 1px solid black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
 }

span{
    font-size: small;
}
input[type="submit"]{
    background-color: rgb(30, 30, 65);
    color: white;
    border-radius: 0.5rem;
}
hr{
    margin-left: 4%;
    margin-right: 4%;
}
.article-container{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 @media screen and (max-width:600px) {
    .article-container{
        display: grid;
        grid-row: 2;
    }
   
    
 }

.article-imgbox{
    
    width: 250px;
    height: 150px;
    margin-left: 55px;
   float: left;
 }

.article-imgbox:hover{
    transform: scale(1.1);
}
.article-details{
    margin-left: 50px;
 }
 .article-details h6{
    margin-top: -18px;
    
}
.article-details p{
    margin-left: 15px;
    margin-top: -18px;
    position: relative;
}
.more-button{
    border: 2px solid ;
    font-size: smaller;
    width: 100px;
    height: 20px;
    margin-left: 15px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    color: white;
}
.footer{
    
    width: auto;
    height: 75px;
    background-color: rgb(34, 34, 75);
    color: white;
    display: flex;
    justify-content: center;
}

/* Styling for Article Pages */
.nav-bar-article-page{
    width: auto;
    height: 60px;
    border-bottom: 1px solid black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .nav-bar-article-page a{
    margin-left: 50px;
 }
 .nav-bar-article-page h2{
    margin-right: 620px;
 }
.content-1{
    
   width: auto;
   height: auto;
}
.content-img{
    width: auto;
    margin-left: 100px;
    height: 300px;
    display: flex;
    justify-content: center;
}
/* #three{
    width: 500px; 
    object-fit: cover;
} */



       


    
    

